@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval7>
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

	@{
		Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
	}

	<h2>Хориж олий таълим муассасалари билан алмашув дастурлари иштирокчилари ҳақида
</h2>

	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval7/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

		using (Html.BeginForm("Upload", "Jadval7", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval7/Tasdiqlash/@ViewBag.UniverId">Подтверждать</a>
	}
	@if (ViewBag.bor == true)
	{
		<h3>Ma'lumotlar:</h3>
		<table class="table">
			<tr>
				@if (ViewBag.status == 0 && ViewBag.role == 1)
				{
					<th>Статус</th>
				}
				<th>
					Алмашув дастурлари асосида Хорижий ОТМларида таълим олаётган талабаларнинг Ф.И.Ш
				</th>
				<th>
					Давлат ва ОТМ номи
				</th>
				<th>
					Таълим йўналиши (мутахассислик) номи
				</th>
				<th>
					Алмашув дастурлари асосидаОТМда таълим олаётган хорижлик талабаларнинг Ф.И.Ш
				</th>
				<th>
					Давлат ва ОТМ номи
				</th>
				<th>
					Таълим йўналиши (мутахассислик) номи
				</th>
				<th>
					Алмашув дастурига асос бўлувчи ҳужжат номи ва имзоланган санаси*
				</th>
				<th>
					Файл
				</th>
				<th>
					Бакалавр/Магистратура
				</th>
				<th>
					Йил
				</th>
				<th>
					UniversityId
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr @(item.Status == 1 ? "" : "class=danger")>
					@if (ViewBag.status == 0 && ViewBag.role == 1)
					{
						<td>
							@if (item.Status == 1)
							{
								<a href="/Jadval7/Status/@item.Id">Не принимать</a>
							}
							else
							{
								<a href="/Jadval7/Status/@item.Id">Принимать</a>

							}
						</td>
					}
					<td>
						@Html.DisplayFor(modelItem => item.FullName_uzb)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.State_uzb)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Mutaxassislik_uzb)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.FullName_xorij)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.State_xorij)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Mutaxassislik_xorij)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Asos)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Asos_fayl)
						<br />
						@using (Html.BeginForm("UploadData", "Jadval7", FormMethod.Post, new { enctype = "multipart/form-data" }))
						{
							<input type="file" name="files" />
							<input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
							<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
						}
					</td>
					<td>
						@if (item.Bak_mag == 0) {<p>бакалавр</p>}
						else {<p>магистр</p>}
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Year)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UniversityId)
					</td>
				</tr>
			}

		</table>
	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
	}
