@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval7>
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

	@{
		Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
		int count = 1;
	}

	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval7/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

		using (Html.BeginForm("Upload", "Jadval7", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
		}
	}
@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
{
	<h5>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DTM_vremya_istek, ViewBag.lang, ViewBag.alfabet)</h5>
}
@if (ViewBag.status == 1)
{
	<h5>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DTM_danniye_podtverjdeni, ViewBag.lang, ViewBag.alfabet)</h5>
}
@if (ViewBag.status == 0)
{
	<h5>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DTM_danniye_ne_podtverjdeni, ViewBag.lang, ViewBag.alfabet)</h5>
}
@if (ViewBag.status == 0 && ViewBag.role == 1)
{
	<a href="/Jadval7/Tasdiqlash/@ViewBag.UniverId">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DTM_podtverjdat, ViewBag.lang, ViewBag.alfabet)</a>
}
						   	<h3 class="text-center font-bold">@RatingUniversity.Classes.Functions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
						   <h4 class="text-center font-bold">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_zagolovok, ViewBag.lang, ViewBag.alfabet)</h4>

	@if (ViewBag.bor == true)
	{
	<table class="table table-bordered">
		<tr class="txtcenter">
			<th>№</th>
			@if (ViewBag.status == 0 && ViewBag.role == 1)
			{
				<th>Статус</th>
			}
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_almashuv_fish, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_bakalavriat, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_yonalish, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_xorij_talaba_FISH, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_xorij_davlat, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_xorij_yonalish, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_almashuv_xujjat, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_fayl, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T7_bakalavr_magistratura, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_God, ViewBag.lang, ViewBag.alfabet)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr @(item.Status == 1 ? "" : "class=danger")>
				<td>@count</td>@{count++;}
				@if (ViewBag.status == 0 && ViewBag.role == 1)
				{
					<td>
						@if (item.Status == 1)
						{
							<a href="/Jadval7/Status/@item.Id">Не принимать</a>
						}
						else
						{
							<a href="/Jadval7/Status/@item.Id">Принимать</a>

						}
					</td>
				}
				<td>
					@Html.DisplayFor(modelItem => item.FullName_uzb)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.State_uzb)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mutaxassislik_uzb)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FullName_xorij)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.State_xorij)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mutaxassislik_xorij)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Asos)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Asos_fayl)
					<br />
					@using (Html.BeginForm("UploadData", "Jadval7", FormMethod.Post, new { enctype = "multipart/form-data" }))
					{
						<input type="file" name="files" />
						<input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
						<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
					}
				</td>
				<td>
					@if (item.Bak_mag == 0)
					{<p>бакалавр</p>}
					else
					{<p>магистр</p>}
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
			</tr>
		}

	</table>
	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
	}
