@*using PagedList.Mvc;*@
    @model RatingUniversity.Models.Table15

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

    @{
        <a href="~/Table15/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

        using (Html.BeginForm("Upload", "Table15", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="files" />
            <input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
        }
    }
    <div style="height:80px;">&nbsp;</div>
    <div>
        <h3 style="text-align:center;font-weight:bold">@RatingUniversity.Classes.Functions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
        <h4 style="text-align:center;font-weight: bold">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRDataHeader, ViewBag.lang, ViewBag.alfabet)</h4>
        <h4 style="text-align:center;font-weight: bold;text-transform:capitalize">
            @RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Information, ViewBag.lang, ViewBag.alfabet)
        </h4>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRSertificate, ViewBag.lang, ViewBag.alfabet)</a></li>
                <li><a href="#tabs-2">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRPatent, ViewBag.lang, ViewBag.alfabet)</a></li>
                <li><a href="#tabs-3">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRDalolatnoma, ViewBag.lang, ViewBag.alfabet)</a></li>
            </ul>
            <div id="tabs-1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:38px;">№</th>
                            <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRUniversityName, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRFIO, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.EfNIRName</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.EfNIROrganization</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.EfNIRCode</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.FileName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var index = 0;
                            foreach(var item in Model.sertificat)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>@RatingUniversity.Classes.Functions.Translate(item.otm_name, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@RatingUniversity.Classes.Functions.Translate(item.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@item.sertifikat_name</td>
                                    <td>@item.sertifikat_date</td>
                                    <td>@item.sertifikat_number</td>
                                    <td>@item.filename</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="2">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                            <td colspan="5">@index</td>
                        <tr>
                    </tbody>
                </table>    
            </div>
            <div id="tabs-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:38px;">№</th>
                            <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRUniversityName, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRFIO, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.EfNIRName</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.EfNIROrganization</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.EfNIRCode</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.FileName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            index = 0;
                            foreach(var item in Model.patent)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>@RatingUniversity.Classes.Functions.Translate(item.otm_name, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@RatingUniversity.Classes.Functions.Translate(item.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@item.sertifikat_name</td>
                                    <td>@item.sertifikat_date</td>
                                    <td>@item.sertifikat_number</td>
                                    <td>@item.filename</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="2">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                            <td colspan="5">@index</td>
                        <tr>
                    </tbody>
                </table>
            </div>
            <div id="tabs-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:38px;">№</th>
                            <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRUniversityName, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.EfNIRFIO, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.EfNIRName</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.EfNIROrganization</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.EfNIRCode</th>
                            <th style="text-align:center">@RatingUniversity.Langs.Resource.FileName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            index = 0;
                            foreach(var item in Model.dalolatnoma)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>@RatingUniversity.Classes.Functions.Translate(item.otm_name, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@RatingUniversity.Classes.Functions.Translate(item.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@item.sertifikat_name</td>
                                    <td>@item.sertifikat_date</td>
                                    <td>@item.sertifikat_number</td>
                                    <td>@item.filename</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="2">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                            <td colspan="5">@index</td>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
            
@Scripts.Render("~/Scripts/jquery-ui-1.10.4.custom.min.js")
@Styles.Render("~/Content/jquery-ui-1.10.4.custom.min.css")
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
