    @*model IEnumerable<RatingUniversity.Models.>*@
    @using MyFunctions = RatingUniversity.Classes.Functions;
    @using Resource = RatingUniversity.Langs.Resource;
    @{
        ViewBag.Title = MyFunctions.Translate(Resource.HomePageTitle, ViewBag.lang, ViewBag.alfabet);
    }

    <div class="jumbotron">
        <h1>@MyFunctions.Translate(Resource.HomePageRatingHeader, ViewBag.lang, ViewBag.alfabet)</h1>
        <p class="lead" style="margin-bottom: 2em !important; ">@MyFunctions.Translate(Resource.HomePageHeaderInfo, ViewBag.lang, ViewBag.alfabet)</p>
        <div class="clock"></div>
        <div class="message"></div>
        <!--<p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
    </div>


    <!--<div class="row">
        <div class="col-md-8">
            <h2>@MyFunctions.Translate(Resource.HomePageHeader, ViewBag.lang, ViewBag.alfabet) @ViewBag.year </h2>

                <p>
                    @MyFunctions.Translate(Resource.HomePageRatingHeaderInfo, ViewBag.lang, ViewBag.alfabet)
                </p>


            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>@MyFunctions.Translate(Resource.HomePageChanges, ViewBag.lang, ViewBag.alfabet)</th>
                        <th>@MyFunctions.Translate(Resource.HomePageUniversity, ViewBag.lang, ViewBag.alfabet)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="danger text-danger">
                        <td><h5><strong>1<strong></h5></td>
                        <td><h5><strong>▲ (+2)<strong></h5></td>
                        <td><h5><strong>Column content<strong></h5></td>
                    </tr>
                    <tr class="info text-primary">
                        <td><h5>2</h5></td>
                        <td><h5>▼ (-1)</h5></td>
                        <td><h5>Column content</h5></td>
                    </tr>
                    <tr class="success text-success">
                        <td><h6>3</h6></td>
                        <td><h6>▼ (-1)</h6></td>
                        <td><h6>Column content</h6></td>
                    </tr>
                    <tr class="warning text-warning">
                        <td>4</td>
                        <td>▲ (+1)</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="active text-muted">
                        <td>5</td>
                        <td>▼ (-1)</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="active text-muted">
                        <td>6</td>
                        <td>▼ (-1)</td>
                        <td>Column content</td>
                    </tr>
                    <tr class="active text-muted">
                        <td>7</td>
                        <td>▼ (-1)</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
            <p><a class="btn btn-default" href="#Getting started">@MyFunctions.Translate(Resource.ButtonLearnMore, ViewBag.lang, ViewBag.alfabet) &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>@MyFunctions.Translate(Resource.HomePageChartHeader, ViewBag.lang, ViewBag.alfabet)</h2>
        <p>@MyFunctions.Translate(Resource.HomePageChartHeaderInfo, ViewBag.lang, ViewBag.alfabet)</p>
        <p><a class="btn btn-default" href="#Get more information">@MyFunctions.Translate(Resource.ButtonLearnMore, ViewBag.lang, ViewBag.alfabet) &raquo;</a></p>
    </div>-->
    <script type="text/javascript">
            var clock;
            $(document).ready(function () {
                var clock;
                clock = $('.clock').FlipClock({
                    clockFace: 'DailyCounter',
                    autoStart: false,
                    language: '@ViewBag.lang-@ViewBag.alfabet',
                    callbacks: {
                        stop: function () {
                            $('.message').html('The clock has stopped!')
                        }
                    }
                });
                clock.setTime(@ViewBag.time);
                clock.setCountdown(@ViewBag.Reverse);
                clock.start();
            });
    </script>
    
