@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval1>

	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


	@{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

	<h2>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Top300, ViewBag.lang, ViewBag.alfabet)</h2>

	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval1/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
		        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>


		using (Html.BeginForm("Upload", "Jadval1", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval1/Tasdiqlash">Подтверждать</a>
	}

	@if (ViewBag.bor == true)
	{ 
		<h3>Данные:</h3>
		<table class="table">
			<tr>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_OtmName, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_Strana, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_Reyting, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_God, ViewBag.lang, ViewBag.alfabet)
				</th>
			</tr>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.OtmName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.State)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Reyting)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Year)
					</td>
				</tr>
			}
		</table>
		<br />

	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

		
	}
