@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval1>

	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


	@{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

	<h2>Top университет - 300</h2>

	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval1/Download">Загрузить шаблон</a>
		<h3>Прикрепить файл</h3>

		using (Html.BeginForm("Upload", "Jadval1", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
			<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval1/Tasdiqlash">Подтверждать</a>
	}

	@if (ViewBag.bor == true)
	{ 
		<h3>Данные:</h3>
		<table class="table">
			<tr>
				<th>
					Otm nomi
				</th>
				<th>
					Davlat
				</th>
				<th>
					Reyting
				</th>
				<th>
					Yil
				</th>
			</tr>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.OtmName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.State)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Reyting)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Year)
					</td>
				</tr>
			}
		</table>
		<br />

	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

		
	}
