@model IEnumerable<RatingUniversity.I1_dolya_pps_s_uchenoy_stepenyu>

@{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.I11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.I12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.I1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YEAR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YEAR)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID })
        </td>
    </tr>
}

</table>
