    @using PagedList.Mvc;
    @model PagedList.IPagedList<RatingUniversity.Models.citiruemost_publikaciy_pps_vuza>
    @using MyFunctions = RatingUniversity.Classes.Functions;
    @using Resource = RatingUniversity.Langs.Resource;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

    @{
        if (!ViewBag.isAdmin)
        { 
            <div class="well well-sm">
                <i class="glyphicon glyphicon-download-alt"></i> <a href="~/Table12/Download">@MyFunctions.Translate(Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
            </div>
            if ((ViewBag.status==0) || (ViewBag.status == -1))
            {
                using (Html.BeginForm("Upload", "Table12", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <legend>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
                        <div class="input-group">
                            <input type="file" class="form-control" name="files" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>        
                }
            }
        }
        else
        {
            if (ViewBag.status == 0)
            {
                using (Html.BeginForm("Approve", "Table12", FormMethod.Post))
                {
                    <fieldset>
                        <legend>@MyFunctions.Translate(Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
                        <div class="input-group">
                            <input type="hidden" class="form-control" name="id" value="@ViewBag.id" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@MyFunctions.Translate(Resource.Approve, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>
                }
            }
        }
        if (ViewBag.status == 1)
        {
            <div>
                <p class="bg-success text-center info-success" style="padding:15px;font-size:larger;color:green;font-weight:600">@MyFunctions.Translate(Resource.DTM_danniye_podtverjdeni, ViewBag.lang, ViewBag.alfabet)</p>
            </div>
        }
    }
    <div>
        <h3 class="text-center">@MyFunctions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
        <h4 class="text-center">@MyFunctions.Translate(Resource.CitatDataHeader, ViewBag.lang, ViewBag.alfabet)</h4>
        <h5 class="text-center text-uppercase">@MyFunctions.Translate(Resource.Information, ViewBag.lang, ViewBag.alfabet)</h5>
        <h5 class="text-center">@MyFunctions.Translate(Resource.CitatNote, ViewBag.lang, ViewBag.alfabet)</h5>
        
        <table class="table table-bordered" style="width:100%;table-layout:fixed;word-wrap:break-word">
            <thead>
            <tr>
                <th style="width:38px">№</th>
                <th style="text-align:center">@MyFunctions.Translate(Resource.CitatFIO, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@MyFunctions.Translate(Resource.CitatSource, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@MyFunctions.Translate(Resource.CitatInfo, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@MyFunctions.Translate(Resource.CitatLink, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@MyFunctions.Translate(Resource.CitatUsage, ViewBag.lang, ViewBag.alfabet)</th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 0;
                //int sum = 0;
                foreach (var item in Model)
                {
                    index++;
                    <tr>
                        <td>@index</td>
                        <td>@MyFunctions.Translate(item.fio, ViewBag.lang, ViewBag.alfabet)</td>
                        <td>@Html.DisplayFor(modelItem => item.source)</td>
                        <td>@Html.DisplayFor(modelItem => item.info)</td>
                        <td><a href="@item.link">@Html.DisplayFor(modelItem => item.link)</a></td>
                        <td>@Html.DisplayFor(modelItem => item.usage)</td>
                    </tr>
                    //sum += (item.usage != null) ? (int)item.usage : 0;
                }
            }
                <tr>
                    <td colspan="2">@MyFunctions.Translate(Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                    <td colspan="4">@Model.Count()</td>
                </tr>
            </tbody>
        </table>
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>