@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval11>
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
	@{
		Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
	}

	<h2>
		@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_zagolovok, ViewBag.lang, ViewBag.alfabet)
	</h2>

	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval11/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

		using (Html.BeginForm("Upload", "Jadval11", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval11/Tasdiqlash/@ViewBag.UniverId">Подтверждать</a>
	}
	@if (ViewBag.bor == true)
	{
		<table class="table table-bordered">
			<tr>
				@if (ViewBag.status == 0 && ViewBag.role == 1)
				{
					<th>Статус</th>
				}
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_muallif, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_ixtisoslik, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_monografiya, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_nashr_yili, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_darslik, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_kengash, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_oquv_qollanma, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_kengash, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_oquv_uslubiy_majmua, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_kengash, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T11_fayl, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_God, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					UniversityId
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr @(item.Status == 1 ? "" : "class=danger")>
					@if (ViewBag.status == 0 && ViewBag.role == 1)
					{
						<td>
							@if (item.Status == 1)
							{
								<a href="/Jadval11/Status/@item.Id">Не принимать</a>
							}
							else
							{
								<a href="/Jadval11/Status/@item.Id">Принимать</a>

							}
						</td>
					}
					<td>
						@Html.DisplayFor(modelItem => item.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Speciality)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.MonographName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.MongographYear)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DarslikName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DarslikCertificate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.OquvqullanmaName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.OquvqullanmaCertificate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.OquvmajmuaName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.OquvmajmuaCertificate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AsosFile)
						<br />
						@using (Html.BeginForm("UploadData", "Jadval11", FormMethod.Post, new { enctype = "multipart/form-data" }))
						{
							<input type="file" name="files" />
							<input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
							<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
						}


					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Year)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UniversityId)
					</td>
				</tr>
			}

		</table>
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

	}
