@{
    ViewBag.Title = "Main Page";
}

<!--<h2>@ViewBag.Title</h2>--><br />
<div class="row">
    <div class="col-md-3">
        <section id="leftSideMenu">
            <ul class="nav nav-pills nav-stacked">
                <li><strong>I. Уровень качества преподавания</strong></li>
                <li class="active"><a href="#">Доля профессорско-преподавательского состава (ППС), имеющего степень PhD (ученую степень доктора, кандидата наук), магистра (дипломированного специалиста) зарубежных высших образовательных учреждений (вузов), входящих в число 500 лучших вузов мира</a></li>
                <li><a href="#">Уровень качества преподавания (по результатам опроса студентов)</a></li>
                <li><a href="#">Количество учебников, учебных пособий и учебно-методических комплексов, изданных в установленном порядке в течение года преподавателями вуза (в расчете на 100 человек ППС)</a></li>
                <li><a href="#">Доля иностранных преподавателей и иностранных студентов (соответственно в % к общей численности)</a></li>
                <li><a href="#">Участие преподавателей и студентов в программах обмена с зарубежными вузами</a></li>
                <li><a href="#">Количество учебных курсов по направлениям образования (специальностям) с преподаванием на иностранных языках (в % от общего количества)</a></li>
                <li><a href="#">Уровень владения ППС иностранным языком и информационно-коммуникационными технологиями</a></li>
                <li><a href="#">Доля преподавателей вуза, участвующих в проведении лекций (семинаров, практических занятий, тренингов) в аккредитованных зарубежных вузах, входящих в число 500 лучших вузов мира</a></li>
                <li><a href="#">Количество ППС, проводящего учебные занятия в учреждениях ССПО</a></li>
            </ul>
            <ul class="nav nav-pills nav-stacked">
                <li><strong>II. Уровень знания студентов и квалификация выпускников</strong></li>
                <li><a href="#">Оценка знаний студентов (по результатам выборочного тестирования студентов по специальным профильным дисциплинам)</a></li>
                <li><a href="#">Оценка квалификации выпускников вуза по результатам опроса работодателей</a></li>
                <li><a href="#">Доля выпускников, трудоустроенных по специальности в течение 6 месяцев после окончания вуза</a></li>
                <li><a href="#">Количество студентов, удостоенных наград (дипломов) и занявших призовые места на международных и республиканских олимпиадах и престижных конкурсах</a></li>
            </ul>
            <ul class="nav nav-pills nav-stacked">
                <li><strong>III. Уровень научного потенциала высшего учебного заведения</strong></li>
                <li><a href="#">Цитируемость публикаций ППС вуза по данным международных индексов</a></li>
                <li><a href="#">Количество статей, опубликованных в зарубежных реферируемых научных журналах, республиканских научных журналах (включенных в список ВАК), изданных монографий в течение года</a></li>
                <li><a href="#">Количество утвержденных Президиумом ВАК РУз, в течение года докторских диссертаций, защищенных сотрудниками высшего учебного заведения, профессоров-преподавателей, имеющих ученые степени (ученые звания)</a></li>
                <li><a href="#">Финансовые средства, полученные от научно-исследовательской деятельности (в расчете на 1 ППС)</a></li>
                <li><a href="#">Эффективность проводимых научно-изыскательских работ</a></li>
                <li><a href="#">Степень оснащенности научных лабораторий современным оборудованием экспериментально-лабораторной базы для проведения научно-изыскательских работ</a></li>
            </ul>
            <ul class="nav nav-pills nav-stacked">
                <li><strong>IV. Уровень оснащенности материально-технической базы и внедрения ИКТ</strong></li>
                <li><a href="#">Обеспеченность ИРЦ учебной литературой в соответствии с требованиями учебных программ, а также электронными версиями учебной литературы</a></li>
                <li><a href="#">Степень использования средств ИКТ в учебном процессе и научно-исследовательской работе, компьютерной техники, а также обновляемость компьютерного парка</a></li>
                <li><a href="#">Степень доступности и качества информации о вузе в сети Интернет (качество дизайна веб-сайта, достаточность учебно-научных и информационных ресурсов, обновляемость материалов, а также посещаемость веб-сайта)</a></li>
                <li><a href="#">Степень оснащенности материально-технической базы вуза современным лабораторным оборудованием и инвентарем, мультимедийной учебно-презентационной техникой</a></li>
            </ul>
        </section>
    </div>
    <div class="col-md-9">
        <section id="mainContent">
            <h4>Выберите файл для загрузки</h4>
            @using (Html.BeginForm("Upload", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <label class="control-label">* some info</label>
                    <div class="input-group">
                        <span class="input-group-addon">Excel file</span>
                        <input class="form-control" type="file" name="upload">
                        <span class="input-group-btn" style="float:left;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </span>
                    </div>
                </div>
                
                <div class="alert alert-dismissible alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Warning!</strong> @ViewBag.Result
                </div>
                <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Heads up!</strong> @ViewBag.Result
                </div>
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Well done!</strong> @ViewBag.Result
                </div>
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Oh snap!</strong> @ViewBag.Result
                </div>
            }

            <br />
            <div class="jumbotron">
                <h3></h3>
                <p>Excel is here</p>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
