@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval6>
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

	@{
		Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
	}

	<h2>Таълим олаётган  хорижий талабалар  ҳақида
</h2>

	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval6/Download">Загрузить шаблон</a>
		<h3>Прикрепить файл</h3>

		using (Html.BeginForm("Upload", "Jadval6", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
			<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval6/Tasdiqlash/@ViewBag.UniverId">Подтверждать</a>
	}
	@if (ViewBag.bor == true)
	{
		<h3>Ma'lumotlar:</h3>
		<table class="table">
			<tr>
				<th>
					Ф.И.Ш
				</th>
				<th>
					Давлати
				</th>
				<th>
					Таълим йўналиши
				</th>
				<th>
					Магистратура мутахассислиги
				</th>
				<th>
					Асос (буйруқ, қарор, шартнома ва бошқалар)*
				</th>
				<th>
					Файл
				</th>
				<th>
					Йил
				</th>
				<th>
					UniversityId
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.State)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Yonalish)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Mag_mutaxassislik)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Asos)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Asos_fayl)
						<br />
						@using (Html.BeginForm("UploadData", "Jadval6", FormMethod.Post, new { enctype = "multipart/form-data" }))
						{
							<input type="file" name="files" />
							<input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
							<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
						}

					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Year)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UniversityId)
					</td>
				</tr>
			}

		</table>
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
	}
