@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval9>
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

	@{
		Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
	}

	<h2>
		@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T9_zagolovok, ViewBag.lang, ViewBag.alfabet)

		
		Асосий шататдаги профессор-ўқитувчиларидан 300 та энг яхши хорижий олий таълим муассасаларида охирги 3 йилда дарс (маъруза, семинар ва амалий машғулот) ўтганлари ҳақидаги
</h2>
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval9/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

		using (Html.BeginForm("Upload", "Jadval9", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval9/Tasdiqlash/@ViewBag.UniverId">Подтверждать</a>
	}
	@if (ViewBag.bor == true)
	{
		<table class="table table-bordered">
			<tr>
				@if (ViewBag.status == 0 && ViewBag.role == 1)
				{
					<th>Статус</th>
				}
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T9_fish, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T9_xorijiy_otm, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T9_mutaxassislik, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T9_fan, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T9_asos, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T9_fayl, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_God, ViewBag.lang, ViewBag.alfabet)
				</th>
				<th>
					UniversityId
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr @(item.Status == 1 ? "" : "class=danger")>
					@if (ViewBag.status == 0 && ViewBag.role == 1)
					{
						<td>
							@if (item.Status == 1)
							{
								<a href="/Jadval9/Status/@item.Id">Не принимать</a>
							}
							else
							{
								<a href="/Jadval9/Status/@item.Id">Принимать</a>

							}
						</td>
					}
					<td>
						@Html.DisplayFor(modelItem => item.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.State_otm)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Speciality)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Subject)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Asos)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Asos_fayl)
						<br />
						@using (Html.BeginForm("UploadData", "Jadval9", FormMethod.Post, new { enctype = "multipart/form-data" }))
						{
							<input type="file" name="files" />
							<input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
							<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
						}

					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Year)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UniversityId)
					</td>
				</tr>
			}

		</table>
	@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
	}
