@model IEnumerable<RatingUniversity.Models.Jadval9>

@{
	Layout = "~/Views/Shared/_LayoutSideMenu.cshtml";
}

<h2>Universitetlar reytingi</h2>


				  	<a href="/Jadval9/Download">Загрузить шаблон</a>


				  	<h3> файл</h3>

@using (Html.BeginForm("Upload", "Jadval9", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
}

@if (ViewBag.bor == true)
{
	<h3>Ma'lumotlar:</h3>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.State_otm)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Speciality)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Subject)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Asos)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Asos_fayl)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UniversityId)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.State_otm)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Speciality)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Subject)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Asos)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Asos_fayl)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UniversityId)
				</td>
			</tr>
		}

	</table>
}