@model List<RatingUniversity.Models.Monitorings>

@{
    ViewBag.Title = "Monitoring";
}

<h2>Monitoring</h2>

<table class="table table-bordered">
    <tr>@*
        <th>
            @Html.DisplayNameFor(model => model.J1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J9)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J10)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J11)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J13)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J14)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J15)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J16)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J17)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J19)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J20)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J21)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J22)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J23)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J24)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J25)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J26)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J27)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J28)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J29)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J30)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J31)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J1_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J1_7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J2_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.J2_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniverId)
        </th>*@

		<th>
			J1
		</th>
		<th>
			J2
		</th>
		<th>
			J3
		</th>
		<th>
			J4
		</th>
		<th>
			J5
		</th>
		<th>
			J6
		</th>
		<th>
			J7
		</th>
		<th>
			J8
		</th>
		<th>
			J9
		</th>
		<th>
			J10
		</th>
		<th>
			J11
		</th>
		<th>
			J12
		</th>
		<th>
			J13
		</th>
		<th>
			J14
		</th>
		<th>
			J15
		</th>
		<th>
			J16
		</th>
		<th>
			J17
		</th>
		<th>
			J18
		</th>
		<th>
			J19
		</th>
		<th>
			J20
		</th>
		<th>
			J21
		</th>
		<th>
			J22
		</th>
		<th>
			J23
		</th>
		<th>
			J24
		</th>
		<th>
			J25
		</th>
		<th>
			J26)	
		</th>
		<th>
			J27
		</th>
		<th>
			J28
		</th>
		<th>
			J29
		</th>
		<th>
			J30
		</th>
		<th>
			J31
		</th>
		<th>
			J1_2
		</th>
		<th>
			J1_7
		</th>
		<th>
			J2_1
		</th>
		<th>
			J2_2
		</th>
		<th>
			Year
		</th>
		<th>
			UniverId
		</th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.J1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J9)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J10)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J11)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J13)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J14)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J15)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J16)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J17)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J19)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J20)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J21)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J22)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J23)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J24)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J26)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J27)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J28)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J29)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J30)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J31)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J1_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J1_7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J2_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.J2_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniverId)
        </td>
    </tr>
}

</table>
