@model IEnumerable<RatingUniversity.Models.Jadval21>

@{
	Layout = "~/Views/Shared/_LayoutSideMenu.cshtml";
	ViewBag.Title = "Jadval21";
}

<h2>Universitetlar reytingi</h2>

				  	<a href="/Jadval21/Download">Загрузить шаблон</a>


				  	<h3> файл</h3>

@using (Html.BeginForm("Upload", "Jadval21", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
}

@if (ViewBag.bor == true)
{
	<h3>Ma'lumotlar:</h3>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.fio)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Mutaxassislik_shifr)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Mutaxassislik_nomi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ish_nomi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ish_lavozimi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Asos_fayl)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UniversityId)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.fio)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mutaxassislik_shifr)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mutaxassislik_nomi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ish_nomi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ish_lavozimi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Asos_fayl)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UniversityId)
				</td>
			</tr>
		}

	</table>
}