@*using PagedList.Mvc;*@
    @model IEnumerable<RatingUniversity.Models.kolichestvo_izdannih_mestnih_statey>

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

    @{
        <div class="well well-sm">
            <i class="glyphicon glyphicon-download-alt"></i> <a href="~/Table14/Download">Скачать шаблон</a>
        </div>
        
        using (Html.BeginForm("Upload", "Table14", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <fieldset>
                <legend>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
                <div class="input-group">
                    <input type="file" class="form-control" name="files" />
                    <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" /></span>
                </div>
            </fieldset>
        }
    }

        <h3 class="text-center">@RatingUniversity.Classes.Functions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
        <h4 class="text-center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.PaperDataHeader_2, ViewBag.lang, ViewBag.alfabet)</h4>
        <h5 class="text-center text-uppercase">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Information, ViewBag.lang, ViewBag.alfabet)</h5>
       
     <table class="table table-bordered" style="width:100%;table-layout:fixed;word-wrap:break-word">
            <thead>
            <tr>
                <th style="width:38px">№</th>
                <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.PaperFIO, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.PaperJournalName, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.PaperName, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.PaperYear, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.PaperLink, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.PaperAuthorsCount, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.FileName, ViewBag.lang, ViewBag.alfabet)</th>
            </tr>
            </thead>
            <tbody>
            @{
                int index = 1;
                foreach (var item in Model)
                {
                    index++;
                    <tr>
                        <td>@index</td>
                        <td>@RatingUniversity.Classes.Functions.Translate(item.fio, ViewBag.lang, ViewBag.alfabet)</td>
                        <td>@Html.DisplayFor(modelItem => item.journal)</td>
                        <td>@Html.DisplayFor(modelItem => item.paper)</td>
                        <td>@RatingUniversity.Classes.Functions.Translate(item.paper_year, ViewBag.lang, ViewBag.alfabet)</td>
                        <td><a href="@RatingUniversity.Classes.Functions.CreateURl(item.link)">@Html.DisplayFor(modelItem => item.link)</a></td>
                        <td>@Html.DisplayFor(modelItem => item.coauthor_count)</td>
                        <td></td>
                    </tr>
                }
            }
            </tbody>
        </table>

