@*using PagedList.Mvc;*@
    @model IEnumerable<RatingUniversity.Models.kolichestvo_izdannih_mestnih_statey>
    @using MyFunctions = RatingUniversity.Classes.Functions;
    @using Resource = RatingUniversity.Langs.Resource;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

    @{
        if (!ViewBag.isAdmin)
        { 
            <div class="well well-sm">
                <i class="glyphicon glyphicon-download-alt"></i> <a href="~/Table14/Download">@MyFunctions.Translate(Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
            </div>
            if ((ViewBag.status==0) || (ViewBag.status == -1))
            {
                using (Html.BeginForm("Upload", "Table14", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <legend>@MyFunctions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
                        <div class="input-group">
                            <input type="file" class="form-control" name="files" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>
                }
            }
        }
        else
        {
            if (ViewBag.status == 0)
            {
                using (Html.BeginForm("Approve", "Table14", FormMethod.Post))
                {
                    <fieldset>
                        <legend>@MyFunctions.Translate(Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
                        <div class="input-group">
                            <input type="hidden" class="form-control" name="id" value="@ViewBag.id" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@MyFunctions.Translate(Resource.Approve, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>
                }
            }
        }
        if (ViewBag.status == 1)
        {
            <div>
                <p class="bg-success text-center info-success" style="padding:15px;font-size:larger;color:green;font-weight:600">@MyFunctions.Translate(Resource.DTM_danniye_podtverjdeni, ViewBag.lang, ViewBag.alfabet)</p>
            </div>
        }
    }
    <h3 class="text-center">@MyFunctions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
    <h4 class="text-center">@MyFunctions.Translate(Resource.PaperDataHeader_2, ViewBag.lang, ViewBag.alfabet)</h4>
    <h5 class="text-center text-uppercase">@MyFunctions.Translate(Resource.Information, ViewBag.lang, ViewBag.alfabet)</h5>
       
    <table class="table table-bordered" style="width:100%;table-layout:fixed;word-wrap:break-word">
        <thead>
        <tr>
            <th style="width:38px">№</th>
            <th style="text-align:center">@MyFunctions.Translate(Resource.PaperFIO, ViewBag.lang, ViewBag.alfabet)</th>
            <th style="text-align:center">@MyFunctions.Translate(Resource.PaperJournalName, ViewBag.lang, ViewBag.alfabet)</th>
            <th style="text-align:center">@MyFunctions.Translate(Resource.PaperName, ViewBag.lang, ViewBag.alfabet)</th>
            <th style="text-align:center">@MyFunctions.Translate(Resource.PaperYear, ViewBag.lang, ViewBag.alfabet)</th>
            <th style="text-align:center">@MyFunctions.Translate(Resource.PaperLink, ViewBag.lang, ViewBag.alfabet)</th>
            <th style="text-align:center">@MyFunctions.Translate(Resource.PaperAuthorsCount, ViewBag.lang, ViewBag.alfabet)</th>
            <th style="text-align:center">@MyFunctions.Translate(Resource.FileName, ViewBag.lang, ViewBag.alfabet)</th>
        </tr>
        </thead>
        <tbody>
        @{
            int index = 1;
            foreach (var item in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@MyFunctions.Translate(item.fio, ViewBag.lang, ViewBag.alfabet)</td>
                    <td>@Html.DisplayFor(modelItem => item.journal)</td>
                    <td>@Html.DisplayFor(modelItem => item.paper)</td>
                    <td>@MyFunctions.Translate(item.paper_year, ViewBag.lang, ViewBag.alfabet)</td>
                    <td><a href="@MyFunctions.CreateURl(item.link)">@Html.DisplayFor(modelItem => item.link)</a></td>
                    <td>@Html.DisplayFor(modelItem => item.coauthor_count)</td>
                    <td>
                        <span>
                            @{string fileLink = Request.Url.GetLeftPart(UriPartial.Authority) + "/Scripts/ViewerJS/#../../Files/Upload/" + item.filename;}
                            <a href=# onclick="OpenUrl('@fileLink')"><img src="~/Images/pdf_icon.png" style="height:35px" /> </a>
                        </span>
                        @using (Html.BeginForm("UploadFiles", "Table14", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="files" />
                            <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.id)" />
                            <input type="submit" name="Submit" id="Submit" value="@MyFunctions.Translate(Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
                        }
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
    @Scripts.Render("~/Scripts/site.js");
