@model RatingUniversity.Models.university

@using (Html.BeginForm("Edit", "University", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>university</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            <label for="name_ru" class="control-label col-md-2" style="width:25%">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.ManageUniversityName_RU, ViewBag.lang, ViewBag.alfabet)</label>
            <div class="col-md-10" style="width:70%">
                @Html.TextBoxFor(model => model.name_RU, new { @style = "max-width: 500px", @size="100" })
                @Html.ValidationMessageFor(model => model.name_RU)
            </div>
        </div>

        <div class="form-group">
            <label for="name_uz" class="control-label col-md-2" style="width:25%">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.ManageUniversityName_UZ, ViewBag.lang, ViewBag.alfabet)</label>
            <div class="col-md-10" style="width:70%">
                @Html.TextBoxFor(model => model.name_UZ, new { @style = "max-width: 500px", @size = "100" })
                @Html.ValidationMessageFor(model => model.name_UZ)
            </div>
        </div>

        <div class="form-group">
            <label for="id_region" class="control-label col-md-2" style="width:25%">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.ManageUniversityRegion, ViewBag.lang, ViewBag.alfabet)</label>
            <div class="col-md-10" style="width:70%">
                @Html.DropDownListFor(m => m.id_region, new System.Web.Mvc.SelectList(ViewBag.Regions, "id", "name_" + ViewBag.lang), new { @class = "form-control", @style = "max-width: 500px" })
                @Html.ValidationMessageFor(model => model.id_region)
            </div>
        </div>

        <div class="form-group">
            <label for="id_branch" class="control-label col-md-2" style="width:25%">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.ManageUniversityBranch, ViewBag.lang, ViewBag.alfabet)</label>
            <div class="col-md-10" style="width:70%">
                @Html.TextBoxFor(m => m.id_branch)
                @Html.ValidationMessageFor(model => model.id_branch)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
