@model IEnumerable<RatingUniversity.Models.Jadval18>

<h2>Universitetlar reytingi</h2>

<h3>Download File</h3>

<a href="/Jadval18/Download">Yuklab olish</a>


<h3>Upload File</h3>

@using (Html.BeginForm("Upload", "Jadval18", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="Upload" />
}

@if (ViewBag.bor == true)
{
	<h3>Ma'lumotlar:</h3>

	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Khk_ak_Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Post)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Subject)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Orindosh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Soatbay)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Asos)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AsosFile)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserId)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Khk_ak_Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Post)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Subject)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Orindosh)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Soatbay)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Asos)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AsosFile)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserId)
				</td>
			</tr>
		}

	</table>
}