@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval19>
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

	@{
		Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
		ViewBag.Title = "Jadval19";
	}

	<h2>Талабаларининг халқаро ва республика олимпиадаларида
ҳамда нуфузли танловларда мукофотлар (дипломлар) ва совринли ўринлар билан тақдирланганлиги ҳақида</h2>

	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval19/Download">Загрузить шаблон</a>
		<h3>Прикрепить файл</h3>

		using (Html.BeginForm("Upload", "Jadval19", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
			<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval19/Tasdiqlash/@ViewBag.UniverId">Подтверждать</a>
	}
	@if (ViewBag.bor == true)
	{
		<h3>Ma'lumotlar:</h3>
		<table class="table">
			<tr>
				@if (ViewBag.status == 0 && ViewBag.role == 1)
				{
					<th>Статус</th>
				}
				<th>
					Талабаларнинг ф.и.ш
				</th>
				<th>
					Танлов тури
				</th>
				<th>
					Халқаро, республика  олимпиадалари ва нуфузли танловлар номи
				</th>
				<th>
					Ўтказилган жой ва санаси
				</th>
				<th>
					Олимпиада фанлари ва танлов номи
				</th>
				<th>
					Эгаллаган ўрни
				</th>
				<th>
					Диплом серияси
				</th>
				<th>
					Диплом рақами
				</th>
				<th>
					Соврин номи
				</th>
				<th>
					Изоҳ
				</th>
				<th>
					Файл
				</th>
				<th>
					Йил
				</th>
				<th>
					UniversityId
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr @(item.Status==null ? "" : "class=danger")>
					@if (ViewBag.status == 0 && ViewBag.role == 1)
					{
					<td>
						@if (item.Status == null) {
							<a href="/Jadval2/Status/@item.Id">Не принимать</a>
								}
								else {
							<a href="/Jadval2/Status/@item.Id">Принимать</a>

								}
					</td>
						}
					<td>
						@Html.DisplayFor(modelItem => item.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TanlovTuri)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TanlovName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Tanlov_joy_date)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SubjectName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EgallaganPosition)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DiplomSeria)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DiplomNumber)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SovrinName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AsosFile)
						<br />
						@using (Html.BeginForm("UploadData", "Jadval19", FormMethod.Post, new { enctype = "multipart/form-data" }))
						{
							<input type="file" name="files" />
							<input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
							<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
						}

					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Year)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UniversityId)
					</td>
				</tr>
			}

		</table>
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
	}
