@model IEnumerable<RatingUniversity.Models.Jadval_talababilim_2_1>

@{
	Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
	ViewBag.Title = "Jadval2_1";
	int count = 1;
}


@if (ViewBag.role == 1)
{

	  	<a href="/Jadval2_1/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

using (Html.BeginForm("Upload", "Jadval2_1", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
}
}
				  	
				  <h4 class="text-center font-bold">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_1_zagolovok, ViewBag.lang, ViewBag.alfabet)</h4>

@if (ViewBag.bor == true)
{
	<table class="table table-bordered">
		<tr class="txtcenter">
			<th>№</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_1_soni, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_1_ijobiy, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_1_otm, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_God, ViewBag.lang, ViewBag.alfabet)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>@count</td>@{count++;}
				<td>
					@Html.DisplayFor(modelItem => item.T_All)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.T_Qualified)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UniversityId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
			</tr>
		}

	</table>
}