@*using PagedList.Mvc;*@
@model RatingUniversity.Models.Table11
@using MyFunctions = RatingUniversity.Classes.Functions;
@using Resource = RatingUniversity.Langs.Resource;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

    @{
        <div class="well well-sm">
            <i class="glyphicon glyphicon-download-alt"></i> <a href="~/Table11/Download">Скачать шаблон</a>
        </div>

        using (Html.BeginForm("Upload", "Table11", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <fieldset>
                <legend>@MyFunctions.Translate(Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
                <div class="input-group">
                    <input type="file" class="form-control" name="files" />
                    <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" /></span>
                </div>
            </fieldset>        }
    }


        <h3 class="text-center">@MyFunctions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
        <h4 class="text-center">
            @MyFunctions.Translate(Resource.MDUQDataHeader_1, ViewBag.lang, ViewBag.alfabet)
            @DateTime.Now.Year
            @MyFunctions.Translate(Resource.MDUQDataHeader_2, ViewBag.lang, ViewBag.alfabet)
        </h4>
        <h5 class="text-center text-uppercase">
            @MyFunctions.Translate(Resource.Information, ViewBag.lang, ViewBag.alfabet)
        </h5>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">@MyFunctions.Translate(Resource.MDUQMonografiya, ViewBag.lang, ViewBag.alfabet)</a></li>
                <li><a href="#tabs-2">@MyFunctions.Translate(Resource.MDUQDarslik, ViewBag.lang, ViewBag.alfabet)</a></li>
                <li><a href="#tabs-3">@MyFunctions.Translate(Resource.MDUQQullanma, ViewBag.lang, ViewBag.alfabet)</a></li>
                <li><a href="#tabs-4">@MyFunctions.Translate(Resource.MDUQMajmua, ViewBag.lang, ViewBag.alfabet)</a></li>
            </ul>
            <div id="tabs-1">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:38px;">№</th>
                            <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFIO, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQSpec, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@Resource.MDUQName</th>
                            <th style="text-align:center">@Resource.MDUQYear</th>
                            <th style="text-align:center">@Resource.MDUQFileName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                        var index = 0;
                        foreach(var monografiya in Model.monografiya)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@MyFunctions.Translate(monografiya.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                <td>@MyFunctions.Translate(monografiya.kod_spec, ViewBag.lang, ViewBag.alfabet)</td>
                                <td>@monografiya.monograf_name</td>
                                <td>@monografiya.monograf_year</td>
                                <td>@monografiya.filename</td>
                            </tr>
                        }
                        }
                        <tr>
                            <td colspan="2">@MyFunctions.Translate(Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                            <td colspan="4">@index</td>
                        <tr>
                    </tbody>
                </table>    
            </div>
            <div id="tabs-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:35px;">№</th>
                            <th style="text-align:center">@MyFunctions.Translate(RatingUniversity.Langs.Resource.MDUQFIO, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@MyFunctions.Translate(RatingUniversity.Langs.Resource.MDUQSpec, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@Resource.MDUQName</th>
                            <th style="text-align:center">@Resource.MDUQNumber</th>
                            <th style="text-align:center">@Resource.MDUQFileName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            index = 0;
                            foreach (var darslik in Model.darslik)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>@MyFunctions.Translate(darslik.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@MyFunctions.Translate(darslik.kod_spec, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@darslik.ucheb_name</td>
                                    <td>@darslik.ucheb_number</td>
                                    <td>@darslik.filename</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="2">@MyFunctions.Translate(Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                            <td colspan="4">@index</td>
                        <tr>
                    </tbody>
                </table>
            </div>
            <div id="tabs-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:35px;">№</th>
                            <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFIO, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQSpec, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@Resource.MDUQName</th>
                            <th style="text-align:center">@Resource.MDUQNumber</th>
                            <th style="text-align:center">@Resource.MDUQFileName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            index = 0;
                            foreach (var qullanma in Model.qullanma)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>@MyFunctions.Translate(qullanma.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@MyFunctions.Translate(qullanma.kod_spec, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@qullanma.posobie_name</td>
                                    <td>@qullanma.posobie_number</td>
                                    <td>@qullanma.filename</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="2">@MyFunctions.Translate(Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                            <td colspan="4">@index</td>
                        <tr>
                    </tbody>
                </table>
            </div>
            <div id="tabs-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th style="width:35px;">№</th>
                            <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFIO, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQSpec, ViewBag.lang, ViewBag.alfabet)</th>
                            <th style="text-align:center">@Resource.MDUQName</th>
                            <th style="text-align:center">@Resource.MDUQNumber</th>
                            <th style="text-align:center">@Resource.MDUQFileName</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            index = 0;
                            foreach (var majmua in Model.majmua)
                            {
                                index++;
                                <tr>
                                    <td>@index</td>
                                    <td>@MyFunctions.Translate(majmua.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@MyFunctions.Translate(majmua.kod_spec, ViewBag.lang, ViewBag.alfabet)</td>
                                    <td>@majmua.metodich_name</td>
                                    <td>@majmua.metodich_number</td>
                                    <td>@majmua.filename</td>
                                </tr>
                            }
                        }
                        <tr>
                            <td colspan="2">@MyFunctions.Translate(Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                            <td colspan="4">@index</td>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>

            
@Scripts.Render("~/Scripts/jquery-ui-1.10.4.custom.min.js")
@Styles.Render("~/Content/jquery-ui-1.10.4.custom.min.css")
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
