@*using PagedList.Mvc;*@
    @model RatingUniversity.Models.Table11
    @using MyFunctions = RatingUniversity.Classes.Functions;
    @using Resource = RatingUniversity.Langs.Resource;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

    @{
        if (!ViewBag.isAdmin)
        { 
            <div class="well well-sm">
                <i class="glyphicon glyphicon-download-alt"></i> <a href="~/Table11/Download">@MyFunctions.Translate(Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
            </div>
            if ((ViewBag.status==0) || (ViewBag.status == -1))
            { 
                
                using (Html.BeginForm("Upload", "Table11", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <legend>@MyFunctions.Translate(Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
                        <div class="input-group">
                            <input type="file" class="form-control" name="files" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@MyFunctions.Translate(Resource.Upload, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>        
                }
            }
        }
        else
        {
            if (ViewBag.status == 0)
            { 
                using (Html.BeginForm("Approve", "Table11", FormMethod.Post))
                {
                    <fieldset>
                        <div class="input-group">
                            <input type="hidden" class="form-control" name="id" value="@ViewBag.id" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@MyFunctions.Translate(Resource.Approve, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>
                }
            }
        }
        if (ViewBag.status == 1)
        {
            <div>
                <p class="bg-success text-center info-success" style="padding:15px;font-size:larger;color:green;font-weight:600">@MyFunctions.Translate(Resource.DTM_danniye_podtverjdeni, ViewBag.lang, ViewBag.alfabet)</p>
            </div>
        }
    }

    <h3 class="text-center">@MyFunctions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
    <h4 class="text-center">
        @MyFunctions.Translate(Resource.MDUQDataHeader_1, ViewBag.lang, ViewBag.alfabet)
        @DateTime.Now.Year
        @MyFunctions.Translate(Resource.MDUQDataHeader_2, ViewBag.lang, ViewBag.alfabet)
    </h4>
    <h5 class="text-center text-uppercase">
        @MyFunctions.Translate(Resource.Information, ViewBag.lang, ViewBag.alfabet)
    </h5>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">@MyFunctions.Translate(Resource.MDUQMonografiya, ViewBag.lang, ViewBag.alfabet)</a></li>
            <li><a href="#tabs-2">@MyFunctions.Translate(Resource.MDUQDarslik, ViewBag.lang, ViewBag.alfabet)</a></li>
            <li><a href="#tabs-3">@MyFunctions.Translate(Resource.MDUQQullanma, ViewBag.lang, ViewBag.alfabet)</a></li>
            <li><a href="#tabs-4">@MyFunctions.Translate(Resource.MDUQMajmua, ViewBag.lang, ViewBag.alfabet)</a></li>
        </ul>
        <div id="tabs-1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:38px">№</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFIO, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQSpec, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQName, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQYear, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFileName, ViewBag.lang, ViewBag.alfabet)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    var index = 0;
                    foreach(var monografiya in Model.monografiya)
                    {
                        index++;
                        <tr>
                            <td>@index</td>
                            <td>@MyFunctions.Translate(monografiya.fio, ViewBag.lang, ViewBag.alfabet)</td>
                            <td>@MyFunctions.Translate(monografiya.kod_spec, ViewBag.lang, ViewBag.alfabet)</td>
                            <td>@monografiya.monograf_name</td>
                            <td>@monografiya.monograf_year</td>
                            <td>
                                <span>
                                    @{string fileLink = Request.Url.GetLeftPart(UriPartial.Authority) + "/Scripts/ViewerJS/#../../Files/Upload/" + monografiya.filename;}
                                    <a href=# onclick="OpenUrl('@fileLink')"><img src="~/Images/pdf_icon.png" style="height:35px" /> </a>
                                </span>
                                @using (Html.BeginForm("UploadFilesOverload", "Table11", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <input type="file" name="files" />
                                    <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => monografiya.id)" />
                                    <input type="hidden" name="resType" value="1" />
                                    <input type="submit" name="Submit" id="Submit" value="@MyFunctions.Translate(Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
                                }
                            </td>
                        </tr>
                    }
                    }
                    <tr>
                        <td colspan="2">@MyFunctions.Translate(Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                        <td colspan="4">@index</td>
                    <tr>
                </tbody>
            </table>    
        </div>
        <div id="tabs-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:38px">№</th>
                        <th style="text-align:center">@MyFunctions.Translate(RatingUniversity.Langs.Resource.MDUQFIO, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(RatingUniversity.Langs.Resource.MDUQSpec, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQName, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQNumber, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFileName, ViewBag.lang, ViewBag.alfabet)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        index = 0;
                        foreach (var darslik in Model.darslik)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@MyFunctions.Translate(darslik.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                <td>@MyFunctions.Translate(darslik.kod_spec, ViewBag.lang, ViewBag.alfabet)</td>
                                <td>@darslik.ucheb_name</td>
                                <td>@darslik.ucheb_number</td>
                                <td>
                                    <span>
                                        @{string fileLink = Request.Url.GetLeftPart(UriPartial.Authority) + "/Scripts/ViewerJS/#../../Files/Upload/" + darslik.filename;}
                                        <a href=# onclick="OpenUrl('@fileLink')"><img src="~/Images/pdf_icon.png" style="height:35px" /> </a>
                                    </span>
                                    @using (Html.BeginForm("UploadFilesOverload", "Table11", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <input type="file" name="files" />
                                        <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => darslik.id)" />
                                        <input type="hidden" name="resType" value="2" />
                                        <input type="submit" name="Submit" id="Submit" value="@MyFunctions.Translate(Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
                                    }
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="2">@MyFunctions.Translate(Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                        <td colspan="4">@index</td>
                    <tr>
                </tbody>
            </table>
        </div>
        <div id="tabs-3">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:38px">№</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFIO, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQSpec, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQName, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQNumber, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFileName, ViewBag.lang, ViewBag.alfabet)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        index = 0;
                        foreach (var qullanma in Model.qullanma)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@MyFunctions.Translate(qullanma.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                <td>@MyFunctions.Translate(qullanma.kod_spec, ViewBag.lang, ViewBag.alfabet)</td>
                                <td>@qullanma.posobie_name</td>
                                <td>@qullanma.posobie_number</td>
                                <td>
                                    <span>
                                        @{string fileLink = Request.Url.GetLeftPart(UriPartial.Authority) + "/Scripts/ViewerJS/#../../Files/Upload/" + qullanma.filename;}
                                        <a href=# onclick="OpenUrl('@fileLink')"><img src="~/Images/pdf_icon.png" style="height:35px" /> </a>
                                    </span>
                                    @using (Html.BeginForm("UploadFilesOverload", "Table11", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <input type="file" name="files" />
                                        <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => qullanma.id)" />
                                        <input type="hidden" name="resType" value="3" />
                                        <input type="submit" name="Submit" id="Submit" value="@MyFunctions.Translate(Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
                                    }
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="2">@MyFunctions.Translate(Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                        <td colspan="4">@index</td>
                    <tr>
                </tbody>
            </table>
        </div>
        <div id="tabs-4">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:38px">№</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFIO, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQSpec, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQName, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQNumber, ViewBag.lang, ViewBag.alfabet)</th>
                        <th style="text-align:center">@MyFunctions.Translate(Resource.MDUQFileName, ViewBag.lang, ViewBag.alfabet)</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        index = 0;
                        foreach (var majmua in Model.majmua)
                        {
                            index++;
                            <tr>
                                <td>@index</td>
                                <td>@MyFunctions.Translate(majmua.fio, ViewBag.lang, ViewBag.alfabet)</td>
                                <td>@MyFunctions.Translate(majmua.kod_spec, ViewBag.lang, ViewBag.alfabet)</td>
                                <td>@majmua.metodich_name</td>
                                <td>@majmua.metodich_number</td>
                                <td>
                                    <span>
                                        @{string fileLink = Request.Url.GetLeftPart(UriPartial.Authority) + "/Scripts/ViewerJS/#../../Files/Upload/" + majmua.filename;}
                                        <a href=# onclick="OpenUrl('@fileLink')"><img src="~/Images/pdf_icon.png" style="height:35px" /> </a>
                                    </span>
                                    @using (Html.BeginForm("UploadFilesOverload", "Table11", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <input type="file" name="files" />
                                        <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => majmua.id)" />
                                        <input type="hidden" name="resType" value="4" />
                                        <input type="submit" name="Submit" id="Submit" value="@MyFunctions.Translate(Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
                                    }
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="2">@MyFunctions.Translate(Resource.Common, ViewBag.lang, ViewBag.alfabet)</td>
                        <td colspan="4">@index</td>
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
            
    @Scripts.Render("~/Scripts/jquery-ui-1.10.4.custom.min.js")
    @Styles.Render("~/Content/jquery-ui-1.10.4.custom.min.css")
    @Scripts.Render("~/Scripts/site.js")
    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
