@*using PagedList.Mvc;*@
@model IEnumerable<RatingUniversity.Models.stepen_vnedreniya_ikt>
@using MyFunctions = RatingUniversity.Classes.Functions;
@using Resource = RatingUniversity.Langs.Resource;

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

    @{
        if (!ViewBag.isAdmin)
        { 
            <div class="well well-sm">
                <i class="glyphicon glyphicon-download-alt"></i> <a href="~/Table28/Download">@MyFunctions.Translate(Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
            </div>
        
            if ((ViewBag.status == 0) || (ViewBag.status == -1))
            {
                using (Html.BeginForm("Upload", "Table28", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <legend>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
                        <div class="input-group">
                            <input type="file" class="form-control" name="files" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>
                }
            }
        }
        else
        {
            if (ViewBag.status == 0)
            { 
                using (Html.BeginForm("Approve", "Table28", FormMethod.Post))
                {
                    <fieldset>
                        <div class="input-group">
                            <input type="hidden" class="form-control" name="id" value="@ViewBag.id" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@MyFunctions.Translate(Resource.Approve, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>
                }
            }
        }
        if (ViewBag.status == 1)
        {
            <div>
                <p class="bg-success text-center info-success" style="padding:15px;font-size:larger;color:green;font-weight:600">@MyFunctions.Translate(Resource.DTM_danniye_podtverjdeni, ViewBag.lang, ViewBag.alfabet)</p>
            </div>
        }
    }

                      <h3 class="text-center">@MyFunctions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
                      <h4 class="text-center">@MyFunctions.Translate(Resource.ICTLevelHeader, ViewBag.lang, ViewBag.alfabet)</h4>
        
        <table class="table table-bordered" style="width:100%;table-layout:fixed;word-wrap:break-word;">
            <thead>
                <tr>
                    <th style="width: 38px">@MyFunctions.Translate(Resource.ICTLevelNumber, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelUniversity, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelCompCount, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelCompConnected, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelCompInternet, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelCompNew, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelInternet, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelMail, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelMailPPS, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelInterService, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelLMS, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelSMS, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelHRM, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelStudMS, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelFinance, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelManagerCount, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelPPSCount, ViewBag.lang, ViewBag.alfabet)</th>
                    <th style="text-align:center">@MyFunctions.Translate(Resource.ICTLevelStudentCount, ViewBag.lang, ViewBag.alfabet)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 0;
                    foreach (var item in Model)
                    {
                        index++;
                        <tr>
                            <td>@index</td>
                            <td>@ViewBag.university</td>
                            <td>@Html.DisplayFor(modelItem => item.pc_count)</td>
                            <td>@Html.DisplayFor(modelItem => item.pc_in_local_netw_count)</td>
                            <td>@Html.DisplayFor(modelItem => item.pc_with_intenet_count)</td>
                            <td>@Html.DisplayFor(modelItem => item.last_years_pc_count)</td>
                            <td>@Html.DisplayFor(modelItem => item.internet_speed)</td>
                            <td>@Html.DisplayFor(modelItem => item.admin_emails_count)</td>
                            <td>@Html.DisplayFor(modelItem => item.pps_emails_count)</td>
                            <td>@Html.DisplayFor(modelItem => item.web_service_types)</td>
                            <td>@Html.DisplayFor(modelItem => item.study_monitoring)</td>
                            <td>@Html.DisplayFor(modelItem => item.research_monitoring)</td>
                            <td>@Html.DisplayFor(modelItem => item.pps_baza)</td>
                            <td>@Html.DisplayFor(modelItem => item.student_baza)</td>
                            <td>@Html.DisplayFor(modelItem => item.finance)</td>
                            <td>@Html.DisplayFor(modelItem => item.admins_count)</td>
                            <td>@Html.DisplayFor(modelItem => item.pps_count)</td>
                            <td>@Html.DisplayFor(modelItem => item.students_count)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
