@model IEnumerable<RatingUniversity.Models.Jadval2>

@{
	Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
}


<h2>Universitetlar reytingi</h2>

<h3>Download File</h3>

<a href="/Jadval2/Download">Yuklab olish</a>


<h3>Upload File</h3>

@using (Html.BeginForm("Upload", "Jadval2", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="Upload" />
}

@if (ViewBag.bor == true)
{
	<h3>Ma'lumotlar:</h3>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Jadval1_Id)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phd_seriya)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Phd_nomer)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Mag_seriya)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Mag_nomer)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Speciality)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Ishga_qabul_buyruq)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UniversityId)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Jadval1_Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phd_seriya)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phd_nomer)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mag_seriya)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mag_nomer)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Speciality)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ishga_qabul_buyruq)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UniversityId)
				</td>
			</tr>
		}

	</table>
}