@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval2>
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

	@{
		Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
	}


	<h2>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_Zagolovok, ViewBag.lang, ViewBag.alfabet)</h2>

	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval2/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

		using (Html.BeginForm("Upload", "Jadval2", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval2/Tasdiqlash/@ViewBag.UniverId">Подтверждать</a>
	}
	@if (ViewBag.bor == true)
	{
	<table class="table table-bordered">
		<tr>
			@if (ViewBag.status == 0 && ViewBag.role == 1)
			{
				<th>Статус</th>
			}
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_FISH, ViewBag.lang, ViewBag.alfabet)</th>
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_OTM, ViewBag.lang, ViewBag.alfabet)</th>
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_Phd_seriya, ViewBag.lang, ViewBag.alfabet)</th>
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_Phd_nomer, ViewBag.lang, ViewBag.alfabet)</th>
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_magistr_seriya, ViewBag.lang, ViewBag.alfabet)</th>
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_magistr_nomer, ViewBag.lang, ViewBag.alfabet)</th>
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_specialnost, ViewBag.lang, ViewBag.alfabet)</th>
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_prikaz, ViewBag.lang, ViewBag.alfabet)</th>
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_fayl, ViewBag.lang, ViewBag.alfabet)</th>
			<th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_God, ViewBag.lang, ViewBag.alfabet)</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr @(item.Status == 1 ? "" : "class=danger")>
				@if (ViewBag.status == 0 && ViewBag.role == 1)
				{
					<td>
						@if (item.Status == 1)
						{
							<a href="/Jadval2/Status/@item.Id">Не принимать</a>
						}
						else
						{
							<a href="/Jadval2/Status/@item.Id">Принимать</a>

						}
					</td>
				}

				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Davlat)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phd_seriya)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phd_nomer)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mag_seriya)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mag_nomer)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Speciality)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ishga_qabul_buyruq)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AsosFile)
					<br />
					@using (Html.BeginForm("UploadData", "Jadval2", FormMethod.Post, new { enctype = "multipart/form-data" }))
					{
						<input type="file" name="files" />
						<input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
						<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
					}


				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
			</tr>
		}

	</table>
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
	}
