@model IEnumerable<RatingUniversity.Models.Jadval_bitiruvchi_2_2>
@{
	Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
	ViewBag.Title = "Jadval2_2";
}

<h2>
	@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_2_zagolovok, ViewBag.lang, ViewBag.alfabet)
</h2>

@if (ViewBag.role == 1)
{
<a href="/Jadval2_2/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

using (Html.BeginForm("Upload", "Jadval2_2", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
}
}

@if (ViewBag.bor == true)
{
	<table class="table table-bordered">
		<tr>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_2_soralgansoni, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_2_taqrizsoni, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_2_otm, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_God, ViewBag.lang, ViewBag.alfabet)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.R)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.R1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UniversityId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
			</tr>
		}

	</table>
}