@model IEnumerable<RatingUniversity.Models.Jadval_bitiruvchi_2_2>
@{
	Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
	ViewBag.Title = "Jadval2_2";
	int count = 1;
}

@if (ViewBag.role == 1)
{
	  	 <div class="well well-sm">
            <i class="glyphicon glyphicon-download-alt"></i> <a href="/Jadval2_2/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        </div>

    using (Html.BeginForm("Upload", "Jadval2_2", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>

            <div class="input-group">
                <input type="file" class="form-control" name="files" />
                <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" /></span>
               </div>
        </fieldset>
    }
}
				  <h3 class="text-center">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_2_zagolovok, ViewBag.lang, ViewBag.alfabet)</h3>

@if (ViewBag.bor == true)
{
	<table class="table table-bordered">
		<tr class="txtcenter">
			<th>№</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_2_soralgansoni, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_2_taqrizsoni, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T2_2_otm, ViewBag.lang, ViewBag.alfabet)
			</th>
			<th>
				@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.T1_God, ViewBag.lang, ViewBag.alfabet)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>@count</td>@{count++;}
				<td>
					@Html.DisplayFor(modelItem => item.R)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.R1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UniversityId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
			</tr>
		}

	</table>
}