@model IEnumerable<RatingUniversity.Models.Jadval_bitiruvchi_2_2>
@{
	Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
	ViewBag.Title = "Jadval2_2";
}

<h2>Universitetlar reytingi</h2>

<a href="/Jadval2_2/Download">Загрузить шаблон</a>


<h3> файл</h3>

@using (Html.BeginForm("Upload", "Jadval2_2", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
}

@if (ViewBag.bor == true)
{
	<h3>Ma'lumotlar:</h3>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.R)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.R1)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UniversityId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.R)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.R1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UniversityId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
			</tr>
		}

	</table>
}