@model IEnumerable<RatingUniversity.Models.Jadval8>

@{
	Layout = "~/Views/Shared/_LayoutSideMenu.cshtml";
}

<h2>Universitetlar reytingi</h2>

<h3>Download File</h3>

<a href="/Jadval8/Download">Yuklab olish</a>


<h3>Upload File</h3>

@using (Html.BeginForm("Upload", "Jadval8", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="Upload" />
}

@if (ViewBag.bor == true)
{
	<h3>Ma'lumotlar:</h3>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.FullName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.State_otm_nomi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Talim_yonalish)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Loyiha_nomi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Konferensiya_nomi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Student_oqituvchi)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Asos)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Asos_fayl)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Year)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UniversityId)
			</th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.FullName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.State_otm_nomi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Talim_yonalish)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Loyiha_nomi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Konferensiya_nomi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Student_oqituvchi)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Asos)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Asos_fayl)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Year)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UniversityId)
				</td>
			</tr>
		}

	</table>
}