@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-3">
		<section id="leftSideMenu">
			<ul class="nav nav-pills nav-stacked">
                <li @ViewBag.active[0]><a href="~/Jadval1">Table1</a></li>
                <li @ViewBag.active[1]><a href="~/Jadval1_2">Table 1_2</a></li>
                <li @ViewBag.active[2]><a href="~/Jadval1_7">Table 1_7</a></li>
				<li @ViewBag.active[3]><a href="~/Jadval2">Table2</a></li>
                <li @ViewBag.active[4]><a href="~/Jadval2_1">Table 2_1</a></li>
                <li @ViewBag.active[5]><a href="~/Jadval2_2">Table 2_2</a></li>
				<li @ViewBag.active[6]><a href="~/Table3">Table3</a></li>
				<li @ViewBag.active[7]><a href="~/Jadval5">Table5</a></li>
				<li @ViewBag.active[8]><a href="~/Jadval6">Table6</a></li>
				<li @ViewBag.active[9]><a href="~/Jadval7">Table7</a></li>
				<li @ViewBag.active[10]><a href="~/Jadval8">Table8</a></li>
				<li @ViewBag.active[11]><a href="~/Jadval9">Table9</a></li>
				<li @ViewBag.active[12]><a href="~/Jadval10">Table10</a></li>
				<li @ViewBag.active[13]><a href="~/Table11">Table11</a></li>
				<li @ViewBag.active[14]><a href="~/Table12">Table12</a></li>
				<li @ViewBag.active[15]><a href="~/Table13">Table13</a></li>
				<li @ViewBag.active[16]><a href="~/Table14">Table14</a></li>
				<li @ViewBag.active[17]><a href="~/Table15">Table15</a></li>
				<li @ViewBag.active[18]><a href="~/Table16">Table16</a></li>
				@*<li @ViewBag.active[19]><a href="~/Table17">Table17</a></li>*@
				<li @ViewBag.active[20]><a href="~/Jadval18">Table18</a></li>
				<li @ViewBag.active[21]><a href="~/Jadval19">Table19</a></li>
				<li @ViewBag.active[22]><a href="~/Jadval20">Table20</a></li>
				<li @ViewBag.active[23]><a href="~/Jadval21">Table21</a></li>
                <li @ViewBag.active[24]><a href="~/Table22">Table22</a></li>
                @*<li @ViewBag.active[25]><a href="~/Jadval23">Table23</a></li>
                <li @ViewBag.active[26]><a href="~/Jadval24">Table24</a></li>
                <li @ViewBag.active[27]><a href="~/Jadval25">Table25</a></li>
                <li @ViewBag.active[28]><a href="~/Jadval26">Table26</a></li>
                <li @ViewBag.active[29]><a href="~/Jadval27">Table27</a></li>
                <li @ViewBag.active[30]><a href="~/Jadval28">Table28</a></li>
                <li @ViewBag.active[31]><a href="~/Jadval29">Table29</a></li>
                <li @ViewBag.active[32]><a href="~/Jadval30">Table30</a></li>
                <li @ViewBag.active[33]><a href="~/Jadval31">Table31</a></li>-->*@
			</ul>
		</section>
	</div>

	<div class="col-md-9">
		@RenderBody()
	</div>
</div>