@using MyFunctions = RatingUniversity.Classes.Functions;
@using Resource = RatingUniversity.Langs.Resource;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@MyFunctions.Translate(ViewBag.Title, ViewBag.lang, ViewBag.alfabet) - @MyFunctions.Translate(Resource.PageTitle, ViewBag.lang, ViewBag.alfabet)</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/flipclock.css")
    @Styles.Render("~/Content/Some.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/flipclock.js")
    @Scripts.Render("~/Scripts/jquery.treegrid.js")
    @Scripts.Render("~/Scripts/jquery.treegrid.bootstrap3.js")
    @Styles.Render("~/Content/custom.min.css")
    @Scripts.Render("~/Scripts/custom.js")
</head>
<body>
    <div id="top-header" class="" style="height:13em;width:100%;background:url(@Request.Url.GetLeftPart(UriPartial.Authority)/Images/header.png) center no-repeat #fff;background-size:contain;"></div>
    <!--<div style="padding:1em;text-align:center;font-size:24px;font-weight:bold;" class="text-primary">@MyFunctions.Translate(RatingUniversity.Langs.Resource.TopHeader, ViewBag.lang, ViewBag.alfabet)</div>-->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/Index">@MyFunctions.Translate(Resource.MainMenuHome, ViewBag.lang, ViewBag.alfabet)</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@MyFunctions.Translate(Resource.MainMenuRaiting, ViewBag.lang, ViewBag.alfabet) <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <div style="padding:0;width:182%;" class="container navbar-default nav navbar-nav">
                                @{
                                    for (int year = DateTime.Now.Year-4; year <= DateTime.Now.Year; year++)
                                    {
                                        <li><a href="~/Raiting/index/year/@year">@year</a></li>
                                    }
                                }
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@MyFunctions.Translate(Resource.MainMenuEduQuality, ViewBag.lang, ViewBag.alfabet) <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <div style="padding:0;width:182%;" class="container navbar-default nav navbar-nav">
                                @{
                                    for (int year = DateTime.Now.Year - 4; year <= DateTime.Now.Year; year++)
                                    {
                                        <li><a href="~/QualityOfEducationalWork/index/year/@year">@year</a></li>
                                    }
                                }
                            </div>
                        </ul>
                    </li>
                    @{
                        if(ViewBag.isAdmin != null)
                        { 
                            if(ViewBag.isAdmin)
                            {
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@MyFunctions.Translate(Resource.MainMenuManage, ViewBag.lang, ViewBag.alfabet) <span class="caret"></span></a> 
                                    <ul class="dropdown-menu">
                                        <li class="navbar-default"><a href="~/University/index">@MyFunctions.Translate(Resource.MainMenuManageUniver, ViewBag.lang, ViewBag.alfabet)</a></li>
                                        <li class="navbar-default"><a href="~/Manage/index">@MyFunctions.Translate(Resource.MainMenuManageUser, ViewBag.lang, ViewBag.alfabet)</a></li>
                                    </ul>
                                </li>
                                <li><a href="~/Monitoring/">@MyFunctions.Translate(Resource.MainMenuMonitoring, ViewBag.lang, ViewBag.alfabet)</a></li>
                            }
                        }
                    }
                    <li><a href="~/Jadval1/Index/page/1">@MyFunctions.Translate(Resource.MainMenuAddData, ViewBag.lang, ViewBag.alfabet)</a></li>
                    <!--<li><a href="~/Home/About">@MyFunctions.Translate(Resource.MainMenuAbout, ViewBag.lang, ViewBag.alfabet)</a></li>-->
                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="@Url.Content("~/Images/global.svg")" width="18" height="18" border="0" alt="" /> <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li class="navbar-default">
                                <a href="@Url.Action("ChangeCulture", "Home", new { lang = "ru-ru" })"><img src="@Url.Content("~/Images/ru.png")" width="24" height="24" border="0" alt="" /> @Resource.RU</a>
                            </li>
                            <li class="navbar-default">
                                <a href="@Url.Action("ChangeCulture", "Home", new { lang = "uz-Cyrl-UZ" })"><img src="@Url.Content("~/Images/uz.png")" width="24" height="24" border="0" alt="" /> @Resource.UZCyrillic</a>
                            </li>
                            <li class="navbar-default">
                                <a href="@Url.Action("ChangeCulture", "Home", new { lang = "uz-Latn-UZ" })"><img src="@Url.Content("~/Images/uz.png")" width="24" height="24" border="0" alt="" /> @Resource.UZLatin</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-4">
                <p>Copyright © 2014 - @DateTime.Now.Year <a href="http://edu.uz/" title="@MyFunctions.Translate(Resource.FooterCopyrightMinistry, ViewBag.lang, ViewBag.alfabet)">Edu.uz</a> & <a href="http://dtm.uz/" title="@Resource.FooterCopyrightDtm">DTM.uz</a></p>
                <p>@Resource.FooterCopyrightAllRightReserved</p>
            </div>
            <div class="col-md-4 text-muted">@MyFunctions.Translate(Resource.FooterCopyrightInfo, ViewBag.lang, ViewBag.alfabet)</div>
            <div class="col-md-4">@MyFunctions.Translate(Resource.FooterCopyrightDev, ViewBag.lang, ViewBag.alfabet)
                <a href="http://tuit.uz/" title="@MyFunctions.Translate(Resource.FooterCopyrightTuit, ViewBag.lang, ViewBag.alfabet)">@RatingUniversity.Langs.Resource.FooterCopyrightTuitAbbr</a>
                &
                <a href="http://nuu.uz/" title="@MyFunctions.Translate(Resource.FooterCopyrightNuu, ViewBag.lang, ViewBag.alfabet)">@RatingUniversity.Langs.Resource.FooterCopyrightNuuAbbr</a></div>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)
<!-- 
Status: @HttpContext.Current.ApplicationInstance.Response.Status
Charset: @HttpContext.Current.ApplicationInstance.Response.Charset
HashCode: @HttpContext.Current.ApplicationInstance.Response.GetHashCode()
BrowserInfo: @HttpContext.Current.ApplicationInstance.Request.Browser.Browser ver. @HttpContext.Current.ApplicationInstance.Request.Browser.Version
MobileDeviceModel: @HttpContext.Current.ApplicationInstance.Request.Browser.MobileDeviceModel
MobileDeviceManufacturer: @HttpContext.Current.ApplicationInstance.Request.Browser.MobileDeviceManufacturer
Platform: @HttpContext.Current.ApplicationInstance.Request.Browser.Platform
UserAgent: @HttpContext.Current.ApplicationInstance.Request.UserAgent
UserHostAddress: @HttpContext.Current.ApplicationInstance.Request.UserHostAddress
-->
</body>
</html>
