<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@RatingUniversity.Classes.Functions.Translate(ViewBag.Title, ViewBag.lang, ViewBag.alfabet) - @RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.PageTitle, ViewBag.lang, ViewBag.alfabet)</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/flipclock.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/flipclock.js")
    @Styles.Render("~/Content/custom.min.css")
    @Scripts.Render("~/Scripts/custom.js")
</head>
<body>
    <div id="top-header" class="" style="height:auto;font-size:36px;font-weight:600;padding:10px 35px 10px 0;text-align:right;background:url(@Request.Url.GetLeftPart(UriPartial.Authority)/Images/background.jpg) no-repeat #fafafa;">
        <div style="" class="text-primary">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.TopHeader, ViewBag.lang, ViewBag.alfabet)</div>
    </div>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/Index">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.MainMenuHome, ViewBag.lang, ViewBag.alfabet)</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.MainMenuRaiting, ViewBag.lang, ViewBag.alfabet) <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <div style="padding:0;width:182%;" class="container navbar-default nav navbar-nav">
                                @{
                                    for (int year = DateTime.Now.Year-5; year <= DateTime.Now.Year; year++)
                                    {
                                        <li><a href="~/Raiting/index/year/@year">@year</a></li>
                                    }
                                }
                            </div>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.MainMenuEduQuality, ViewBag.lang, ViewBag.alfabet) <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <div style="padding:0;width:182%;" class="container navbar-default nav navbar-nav">
                                @{
                                    for (int year = DateTime.Now.Year - 5; year <= DateTime.Now.Year; year++)
                                    {
                                        <li><a href="~/QualityOfEducationalWork/index/year/@year">@year</a></li>
                                    }
                                }
                            </div>
                        </ul>
                    </li>
                    @{
                        if(ViewBag.isAdmin != null)
                        { 
                            if(ViewBag.isAdmin)
                            {
                                <li>
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.MainMenuManage, ViewBag.lang, ViewBag.alfabet) <span class="caret"></span></a> 
                                    <ul class="dropdown-menu">
                                        <li><a href="~/University/index">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.MainMenuManageUniver, ViewBag.lang, ViewBag.alfabet)</a></li>
                                        <li><a href="~/Manage/index">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.MainMenuManageUser, ViewBag.lang, ViewBag.alfabet)</a></li>
                                    </ul>
                                </li>
                            }
                        }
                    }
                    <li><a href="~/Jadval1/Index/page/1">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.MainMenuAddData, ViewBag.lang, ViewBag.alfabet)</a></li>
                    <!--<li><a href="~/Home/About">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.MainMenuAbout, ViewBag.lang, ViewBag.alfabet)</a></li>-->
                </ul>
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img src="@Url.Content("~/Images/global.svg")" width="18" height="18" border="0" alt="" /> <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li class="navbar-default">
                                <a href="@Url.Action("ChangeCulture", "Home", new { lang = "ru-ru" })"><img src="@Url.Content("~/Images/ru.png")" width="24" height="24" border="0" alt="" /> @RatingUniversity.Langs.Resource.RU</a>
                            </li>
                            <li class="navbar-default">
                                <a href="@Url.Action("ChangeCulture", "Home", new { lang = "uz-Cyrl-UZ" })"><img src="@Url.Content("~/Images/uz.png")" width="24" height="24" border="0" alt="" /> @RatingUniversity.Langs.Resource.UZCyrillic</a>
                            </li>
                            <li class="navbar-default">
                                <a href="@Url.Action("ChangeCulture", "Home", new { lang = "uz-Latn-UZ" })"><img src="@Url.Content("~/Images/uz.png")" width="24" height="24" border="0" alt="" /> @RatingUniversity.Langs.Resource.UZLatin</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-4">
                <p>Copyright © 2014 - @DateTime.Now.Year <a href="http://edu.uz/" title="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.FooterCopyrightMinistry, ViewBag.lang, ViewBag.alfabet)">Edu.uz</a> & <a href="http://dtm.uz/" title="@RatingUniversity.Langs.Resource.FooterCopyrightDtm">DTM.uz</a></p>
                <p>@RatingUniversity.Langs.Resource.FooterCopyrightAllRightReserved</p>
            </div>
            <div class="col-md-4 text-muted">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.FooterCopyrightInfo, ViewBag.lang, ViewBag.alfabet)</div>
            <div class="col-md-4">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.FooterCopyrightDev, ViewBag.lang, ViewBag.alfabet)
                <a href="http://tuit.uz/" title="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.FooterCopyrightTuit, ViewBag.lang, ViewBag.alfabet)">@RatingUniversity.Langs.Resource.FooterCopyrightTuitAbbr</a>
                &
                <a href="http://nuu.uz/" title="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.FooterCopyrightNuu, ViewBag.lang, ViewBag.alfabet)">@RatingUniversity.Langs.Resource.FooterCopyrightNuuAbbr</a></div>
        </footer>
    </div>
    
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var clock;
        $(document).ready(function () {
            var clock;
            clock = $('.clock').FlipClock({
                clockFace: 'DailyCounter',
                autoStart: false,
                language: '@ViewBag.lang-@ViewBag.alfabet',
                callbacks: {
                    stop: function () {
                        $('.message').html('The clock has stopped!')
                    }
                }
            });
            clock.setTime(@ViewBag.time);
            clock.setCountdown(@ViewBag.Reverse);
            clock.start();
        });
    </script>
<!-- 
Status: @HttpContext.Current.ApplicationInstance.Response.Status
Charset: @HttpContext.Current.ApplicationInstance.Response.Charset
HashCode: @HttpContext.Current.ApplicationInstance.Response.GetHashCode()
BrowserInfo: @HttpContext.Current.ApplicationInstance.Request.Browser.Browser ver. @HttpContext.Current.ApplicationInstance.Request.Browser.Version
MobileDeviceModel: @HttpContext.Current.ApplicationInstance.Request.Browser.MobileDeviceModel
MobileDeviceManufacturer: @HttpContext.Current.ApplicationInstance.Request.Browser.MobileDeviceManufacturer
Platform: @HttpContext.Current.ApplicationInstance.Request.Browser.Platform
UserAgent: @HttpContext.Current.ApplicationInstance.Request.UserAgent
UserHostAddress: @HttpContext.Current.ApplicationInstance.Request.UserHostAddress
-->
</body>
</html>
