@*using PagedList.Mvc;*@
    @model IEnumerable<RatingUniversity.Models.nalichie_elektronnoy_literaturi>
    @using MyFunctions = RatingUniversity.Classes.Functions;
    @using Resource = RatingUniversity.Langs.Resource;
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

    @{
        if (!ViewBag.isAdmin)
        {
            <div class="well well-sm">
                <i class="glyphicon glyphicon-download-alt"></i> <a href="~/Table27/Download">@MyFunctions.Translate(Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
            </div>
        
            if ((ViewBag.status == 0) || (ViewBag.status == -1))
            {
                using (Html.BeginForm("Upload", "Table27", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <fieldset>
                        <legend>@MyFunctions.Translate(Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
                        <div class="input-group">
                            <input type="file" class="form-control" name="files" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@MyFunctions.Translate(Resource.Upload, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>
                }
            }
        }
        else
        {
            if (ViewBag.status == 0)
            { 
                using (Html.BeginForm("Approve", "Table27", FormMethod.Post))
                {
                    <fieldset>
                        <div class="input-group">
                            <input type="hidden" class="form-control" name="id" value="@ViewBag.id" />
                            <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@MyFunctions.Translate(Resource.Approve, ViewBag.lang, ViewBag.alfabet)" /></span>
                        </div>
                    </fieldset>
                }
            }
        }
        if (ViewBag.status == 1)
        {
            <div>
                <p class="bg-success text-center info-success" style="padding:15px;font-size:larger;color:green;font-weight:600">@MyFunctions.Translate(Resource.DTM_danniye_podtverjdeni, ViewBag.lang, ViewBag.alfabet)</p>
            </div>
        }
    }

    <h3 class="text-center">@MyFunctions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
    <h4 class="text-center">@MyFunctions.Translate(Resource.IRCBookHeader, ViewBag.lang, ViewBag.alfabet)</h4>
        
    <table class="table table-bordered" style="width:100%;table-layout:fixed;word-wrap:break-word;">
        <thead>
            <tr>
                <th rowspan="2" style="width: 38px">@MyFunctions.Translate(Resource.IRCBookIndex, ViewBag.lang, ViewBag.alfabet)</th>
                <th rowspan="2" style="text-align:center">@MyFunctions.Translate(Resource.IRCBookSpeciality, ViewBag.lang, ViewBag.alfabet)</th>
                <th rowspan="2" style="text-align:center">@MyFunctions.Translate(Resource.IRCBookSubject, ViewBag.lang, ViewBag.alfabet)</th>
                <th rowspan="2" style="text-align:center">@MyFunctions.Translate(Resource.IRBBookTextbook, ViewBag.lang, ViewBag.alfabet)</th>
                <th colspan="3" style="text-align:center">@MyFunctions.Translate(Resource.IRCBookEbook, ViewBag.lang, ViewBag.alfabet)</th>
            </tr>
            <tr>
                <th style="text-align:center">@MyFunctions.Translate(Resource.IRCBookUzbek, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@MyFunctions.Translate(Resource.IRCBookRussian, ViewBag.lang, ViewBag.alfabet)</th>
                <th style="text-align:center">@MyFunctions.Translate(Resource.IRCBookEnglish, ViewBag.lang, ViewBag.alfabet)</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 0;
                foreach (var item in Model)
                {
                    index++;
                    <tr>
                        <td style="vertical-align: middle; width=38px">@index</td>
                        <td style="vertical-align: middle">@Html.DisplayFor(modelItem => item.napravlenie)</td>
                        <td style="vertical-align: middle">@Html.DisplayFor(modelItem => item.nazvaniya_predmetov)</td>
                        <td style="vertical-align: middle">@Html.DisplayFor(modelItem => item.osn_literatura)</td>
                        <td style="text-align: center; vertical-align: middle">
                            @if ((bool)item.nalichie_uzb) { <i class="glyphicon glyphicon-plus"></i> }
                        </td>
                        <td style="text-align: center; vertical-align: middle">
                            @if ((bool)item.nalichie_rus) { <i class="glyphicon glyphicon-plus"></i> }
                        </td>
                        <td style="text-align: center; vertical-align: middle">
                            @if ((bool)item.nalichie_angl) { <i class="glyphicon glyphicon-plus"></i> }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

