@model IEnumerable<RatingUniversity.Models.I3_kolichestvo_uchebnikov_i_posobiy>

@{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

<h3>@ViewBag.Title</h3>

<table class="table table-striped" style="font-size:14px;">
    <tr>
        <th rowspan="2">Рейтинг</th>
        <th rowspan="2">Название высшего учебного заведения</th>
        <th colspan="3">Количество</th>
        <th rowspan="2">Общее</th>
        <th rowspan="2">Показатель общее</th>
        <th rowspan="2">Год проведения рейтинга</th>
    </tr>
    <tr>
        <th>учебников</th>
        <th>учебно-методических комплексов</th>
        <th>учебных пособий</th>
    </tr>

@{var position = 0;}
@foreach (var item in Model)
{
    position++;
    <tr>
        <td>
            @position
        </td>
        <td width="35%">
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I31)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I32)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I33)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.I3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YEAR)
        </td>
    </tr>
}

</table>
