@using PagedList.Mvc;
    @model PagedList.IPagedList<RatingUniversity.Models.Jadval10>
    @using MyFunctions = RatingUniversity.Classes.Functions;
    @using Resource = RatingUniversity.Langs.Resource;
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

	@{
        Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
        int count = 1;
    }

    @if ((ViewBag.status == -1 || ViewBag.status == 0) && ViewBag.status_date == 0 && !ViewBag.isAdmin)
    {
        <div class="well well-sm">
            <i class="glyphicon glyphicon-download-alt"></i> <a href="~/Jadval10/Download">@MyFunctions.Translate(Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        </div>
        using (Html.BeginForm("Upload", "Jadval10", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <fieldset>
            <legend>@MyFunctions.Translate(Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</legend>
            <div class="input-group">
                <input type="file" class="form-control" name="files" />
                <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@MyFunctions.Translate(Resource.Upload, ViewBag.lang, ViewBag.alfabet)" /></span>
            </div>
            </fieldset>
        }
    }
    @if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
    {
        <div>
            <p class="bg-success text-center info-failed">@MyFunctions.Translate(Resource.DTM_vremya_istek, ViewBag.lang, ViewBag.alfabet)</p>
        </div>
    }
    @if (ViewBag.status == 1)
    {
        <div>
            <p class="bg-success text-center info-success">@MyFunctions.Translate(Resource.DTM_danniye_podtverjdeni, ViewBag.lang, ViewBag.alfabet)</p>
        </div>
    }
    @if (ViewBag.status == 0 && ViewBag.isAdmin)
    {
        using (Html.BeginForm("Approve", "Jadval10", FormMethod.Post))
        {
            <fieldset>
                <div class="input-group">
                    <input type="hidden" class="form-control" name="id" value="@ViewBag.id" />
                    <span class="input-group-btn"><input type="submit" name="Submit" id="Submit" class="btn btn-primary" value="@MyFunctions.Translate(Resource.Approve, ViewBag.lang, ViewBag.alfabet)" /></span>
                </div>
            </fieldset>
        }
    }
	<h3 class="text-center font-bold">@MyFunctions.Translate(ViewBag.university, ViewBag.lang, ViewBag.alfabet)</h3>
    <h4 class="text-center font-bold">@MyFunctions.Translate(Resource.T10_zagolovok, ViewBag.lang, ViewBag.alfabet)</h4>

	@if (ViewBag.bor == true)
	{
		<table class="table table-bordered">
			<tr class="txtcenter">
				<th>№</th>
				@if (ViewBag.status == 0 && ViewBag.role == 1)
				{
					<th>Статус</th>
				}
				<th>@MyFunctions.Translate(Resource.T10_kodi, ViewBag.lang, ViewBag.alfabet)</th>
				<th>@MyFunctions.Translate(Resource.T10_nomi, ViewBag.lang, ViewBag.alfabet)</th>
				<th>@MyFunctions.Translate(Resource.T10_fan, ViewBag.lang, ViewBag.alfabet)</th>
				<th>@MyFunctions.Translate(Resource.T10_horijiy_til, ViewBag.lang, ViewBag.alfabet)</th>
				<th>@MyFunctions.Translate(Resource.T10_talim_bosqichi, ViewBag.lang, ViewBag.alfabet)</th>
				<th>@MyFunctions.Translate(Resource.T10_talaba_soni, ViewBag.lang, ViewBag.alfabet)</th>
				<th>@MyFunctions.Translate(Resource.T10_hujjat, ViewBag.lang, ViewBag.alfabet)</th>
				<th>@MyFunctions.Translate(Resource.T10_fayl, ViewBag.lang, ViewBag.alfabet)</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr @(item.Status == 1 ? "" : "class=danger")>
					<td>@count</td>@{count++;}
					@if (ViewBag.status == 0 && ViewBag.role == 1)
					{
						<td>
							@if (item.Status == 1)
							{
								<a href="/Jadval10/Status/@item.Id">Не принимать</a>
							}
							else
							{
								<a href="/Jadval10/Status/@item.Id">Принимать</a>

							}
						</td>
					}
					<td>@Html.DisplayFor(modelItem => item.DirectionCode)</td>
					<td>@Html.DisplayFor(modelItem => item.DirectionName)</td>
					<td>@Html.DisplayFor(modelItem => item.SubjectName)</td>
					<td>@Html.DisplayFor(modelItem => item.ForeignLanguage)</td>
					<td>@Html.DisplayFor(modelItem => item.EducationCourse)</td>
					<td>@Html.DisplayFor(modelItem => item.StudentCount)</td>
					<td>@Html.DisplayFor(modelItem => item.Asos)</td>
					<td>
                        <span>
                            @{string fileLink = Request.Url.GetLeftPart(UriPartial.Authority) + "/Scripts/ViewerJS/#../../Files/Upload/" + item.AsosFile;}
                            <a href=# onclick="OpenUrl('@fileLink')"><img src="~/Images/pdf_icon.png" style="height:35px" /> </a>
                        </span>
                        @using (Html.BeginForm("UploadFiles", "Jadval10", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="file" name="files" />
                            <input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
                            <input type="submit" name="Submit" id="Submit" value="@MyFunctions.Translate(Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
                        }	
					</td>
				</tr>
			}

		</table>
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        @Scripts.Render("~/Scripts/site.js");
	}
