@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval10>
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

	@{
		Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
		ViewBag.Title = "Jadval10";
	}

	<h2>Таълим йўналишлари (мутахассисликлар) бўйича хорижий тилда дарс берилаётган курслар (фанлар) ҳақида </h2>
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval10/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

		using (Html.BeginForm("Upload", "Jadval10", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval10/Tasdiqlash/@ViewBag.UniverId">Подтверждать</a>
	}
	@if (ViewBag.bor == true)
	{
		<h3>Ma'lumotlar:</h3>
		<table class="table">
			<tr>
				@if (ViewBag.status == 0 && ViewBag.role == 1)
				{
					<th>Статус</th>
				}
				<th>
					коди
				</th>
				<th>
					номи
				</th>
				<th>
					Хорижий тилда дарс берилаётган фанлар номи
				</th>
				<th>
					Хорижий тил номи
				</th>
				<th>
					Таълим босқичи
				</th>
				<th>
					Таълим олаётган талабалар сони
				</th>
				<th>
					Хорижий тилда таълим беришга асос бўлувчи ҳужжат номи ва имзоланган санаси
				</th>
				<th>
					Файл
				</th>
				<th>
					Йил
				</th>
				<th>
					UniversityId
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr @(item.Status == 1 ? "" : "class=danger")>
					@if (ViewBag.status == 0 && ViewBag.role == 1)
					{
						<td>
							@if (item.Status == 1)
							{
								<a href="/Jadval10/Status/@item.Id">Не принимать</a>
							}
							else
							{
								<a href="/Jadval10/Status/@item.Id">Принимать</a>

							}
						</td>
					}
					<td>
						@Html.DisplayFor(modelItem => item.DirectionCode)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DirectionName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SubjectName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ForeignLanguage)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.EducationCourse)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.StudentCount)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Asos)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.AsosFile)
						<br />
						@using (Html.BeginForm("UploadData", "Jadval10", FormMethod.Post, new { enctype = "multipart/form-data" }))
						{
							<input type="file" name="files" />
							<input type="hidden" name="id" value="@Html.DisplayFor(modelItem => item.Id)" />
							<input type="submit" name="Submit" id="Submit" value="Прикрепить" />
						}


					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Year)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UniversityId)
					</td>
				</tr>
			}

		</table>
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

	}
