@using PagedList.Mvc;
@model PagedList.IPagedList<RatingUniversity.Models.Jadval32>
	<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

	@{ Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml"; }

	<h2>Список преподавателей ВУЗа</h2>

	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 0 && ViewBag.role != 1)
	{
		<a href="/Jadval32/Download">@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.DownloadTemplate, ViewBag.lang, ViewBag.alfabet)</a>
        <h3>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AttachFile, ViewBag.lang, ViewBag.alfabet)</h3>

		using (Html.BeginForm("Upload", "Jadval32", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<input type="file" name="files" />
	<input type="submit" name="Submit" id="Submit" value="@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.Upload, ViewBag.lang, ViewBag.alfabet)" />
		}
	}
	@if ((ViewBag.status == null || ViewBag.status == 0) && ViewBag.status_date == 1)
	{
		<h3>Ma'lumotlarni kiritish uchun vaqtingiz tugadi</h3>
	}
	@if (ViewBag.status == 1)
	{
		<h3>Ma'lumotlarni tasdiqlangan</h3>
	}
	@if (ViewBag.status == 0)
	{
		<h3>Ma'lumotlar tasdiqlanmagan</h3>
	}
	@if (ViewBag.status == 0 && ViewBag.role == 1)
	{
		<a href="/Jadval32/Tasdiqlash/@ViewBag.UniverId">Подтверждать</a>
	}
	@if (ViewBag.bor == true)
	{
		<h3>Данные:</h3>
		<table class="table">
			<tr>
				@if (ViewBag.status == 0 && ViewBag.role == 1)
				{
					<th>Статус</th>
				}
				<th>
					Асосий штатдаги профессор-ўқитувчиларнинг Ф.И.Ш
				</th>
				<th>
					Туғилган йили
				</th>
				<th>
					Лавозими
				</th>
				<th>
					Ставкаси
				</th>
				<th>
					Қайси ОТМни қачон тугатган
				</th>
				<th>
					Диплом бўйича ихтисослиги
				</th>
				<th>
					Диплом бўйича мутахассислиги
				</th>
				<th>
					Илмий даражаси
				</th>
				<th>
					Илмий унвони
				</th>
				<th>
					Қайси йилдан кафедрада ишлайди
				</th>
				<th>
					Охирги марта малака оширган йили
				</th>
				<th>
					Қайси фанлардан дарс беради
				</th>
				<th>
					Йил
				</th>
				<th>
					UniversityId
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr @(item.Status == 1 ? "" : "class=danger")>
					@if (ViewBag.status == 0 && ViewBag.role == 1)
					{
						<td>
							@if (item.Status == 1)
							{
								<a href="/Jadval32/Status/@item.Id">Не принимать</a>
							}
							else
							{
								<a href="/Jadval32/Status/@item.Id">Принимать</a>

							}
						</td>
					}
					<td>
						@Html.DisplayFor(modelItem => item.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.BirthDate)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Post)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.stavka)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.GraduatedOtm)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Diplom_ixtisoslik)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Diplom_mutaxassislik)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Ilmiy_daraja)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Ilmiy_unvon)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Qaysi_yildan_kafedrada_ishlaydi)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Oxirgi_malaka_oshirgan_yili)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Subjects)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Year)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UniversityId)
					</td>
				</tr>
			}

		</table>
		@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

	}
